<div class="container">
  <br>

  <div class="card" [id]="boxId">
    <div class="card-header">
      {{header}}
    </div>
    <div class="card-body">
      <h5 class="card-title" [style.color]="styleColor">{{title}} </h5>
      <p class="card-text"[innerHTML]="content" ></p>
      <a [attr.jugjig] ="jugjig" [href]="linkAddress" class="btn btn-primary" [innerText]="button"></a>
    </div>
  </div>

  <br>

  <div [class]="alertClass" role="alert">
    This is a primary alert—check it out!
  </div>

  <div class="alert" [ngClass]="{'alert-success': isSuccess, 'alert-warning': !isSuccess}" role="alert">
    This is a success alert—check it out!
  </div>

</div>